<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>

<form action="#" th:action="@{/task}" th:object="${stats}" method="post">
    <h1 th:text="'To strona główna procesu ETL'"></h1>
    <table>
        <tr>
            <th>Proces</th>
            <th>Uruchom raz</th>
        </tr>
        <tr>
            <td>ETL PROCESS</td>
            <td><p><input type="submit" name="triggerEtl" value="Uruchom pełen proces ETL" /></p></td>
        </tr>
        <tr>
            <td>Extract</td>
            <td><p><input type="submit" name="runExtract" value="Uruchom pobieranie" /></p></td>
        </tr>
        <tr>
            <td>Transform</td>
            <td><p><input type="submit" name="runTransform" value="Uruchom transformacje" /></p></td>
        </tr>
        <tr>
            <td>Load</td>
            <td><p><input type="submit" name="runLoad" value="Uruchom load" /></p><br /><p><input type="submit" name="cleanDb" value="Wyczyść bazę" /></p></td>
        </tr>
    </table>
    <p><input type="submit" name="refresh" value="Odśwież status" /></p>
</form>
<table>
    <tr>
        <th>Proces</th>
        <th>Statistics</th>
    </tr>
    <tr>
        <td>Extract</td>
        <td th:utext="'Zakończono crawlowanie:' + ${extractStats.isFinished} + '<br />' + 'Wyciągniętych produktów: ' + ${extractStats.productFilesScrapped} + '<br />' + 'Wyciągniętych opinii: ' + ${extractStats.opinionFilesScrapped} + '<br />' + 'Czas od startu scrappingu (s): ' + ${extractStats.time}"></td>    </tr>
    <tr>
        <td>Transform</td>
        <td th:utext="'Zakończono transformacje:' + ${stats.finished} + '<br />' + 'Przetworzonych plików:' + ${stats.filesProcessed} + '<br />' + 'Pliki z produktami: ' + ${stats.infoFilesProcessed} + '<br />' + 'Ilość produktów: ' + ${stats.infosProcessed} + '<br />' + 'Plików z opiniami: ' + ${stats.opinionFilesProcessed} + '<br />' + 'Przetworzonych opinii: ' + ${stats.opinionsProcessed}"></td>
    </tr>
    <tr>
        <td>Load</td>
        <td th:utext="'Zakończono ładowanie:' + ${loadStats.finished} + '<br />' + 'Dodanych opinii:' + ${loadStats.addedOpinionsAmount} + '<br />' + 'Dodanych produktów: ' + ${loadStats.addedProductsAmount} + '<br />' + 'Zmodyfikowanych opinii: ' + ${loadStats.modifiedOpinionsAmount} + '<br />' + 'Zmodyfikowanych produktów: ' + ${loadStats.modifiedProductsAmount}"></td>
    </tr>
</table>
<p><input type="button" value="Przeglądaj dane" onclick="window.open('http://localhost:8081/')" /></p>
</body>
</html>